<div class=" container col-md-5 mt-3">
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Phone</th>
        <th>ViewMore</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stu of student">
        <td>{{ stu.id }}</td>
        <td>{{ stu.name }}</td>
        <td>{{ stu.phone }}</td>
        <td>
          <!-- Button trigger modal -->
          <button
            type="button"
            class="btn btn-info"
            data-toggle="modal"
            data-target="#exampleModal"
            (click)='onSelectingStudent(stu)'
          >
            View More
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  <!-- Modal -->
  <div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Student Details
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-student-details [studentDetails]='selectedStudent'></app-student-details>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >
          Close
        </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)='delete(selectedStudent)'>Delete</button>
      </div>
    </div>
  </div>
</div>
<!--
<div class="row">
  <!-- <div class="col-md-6">
    <app-student-details [studentDetails] = 'selectedStudent'></app-student-details>
  </div> -->
<!-- </div> --> -->
