<div class="container">
  <div class="card col-md-12">
    <img [src]="studentDetails.imageUrl" alt="" class="card-img-top" />
    <div class="card-head mt-1">
      <h4 class="text-center">{{ studentDetails.name }}</h4>
    </div>
    <div class="card-body">
      <h6>ID : {{ studentDetails.id }}</h6>
      <h6>Age : {{ studentDetails.age }}</h6>
      <h6>Phone : {{ studentDetails.phone }}</h6>
      <h6>Email : {{ studentDetails.email }}</h6>
      <h6>Class 10th : {{ studentDetails.classX }}%</h6>
      <h6>Class 12th: {{ studentDetails.classXII }}%</h6>
      <h6>Degree : {{ studentDetails.degree }}%</h6>
      <h6>Summary : {{ studentDetails.summary }}</h6>
    </div>
  </div>
</div>

